// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Icons
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container {
    max-width: 1920px;
}

.editRow {
    display: none;
    background-color: rgba(129, 255, 146, 0.212);
}

.btn {
    border: none;
}

.btn-primary {
    // border: solid rgb(40, 108, 255);
    // background:none;
    background-color: rgb(25, 163, 255);
}
.btn-success {
    // border: solid rgb(40, 108, 255);
    // background:none;
    background-color: rgb(100, 201, 167);
}

